html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
}
.logo {
    max-width:100%;
    height: auto;
}
.top-left {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 15vw;
}

.title {
    font-size: 10vw;
    position: absolute;
    top: 10px;
    width: 100%;
    margin-left: 250px;
}
.links {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
}

.links > a {
    color: #636b6f;
    padding: 2vh 8vw;
    font-size: 3vw;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid grey;
}

.extras {
    max-width:100%;
}
.extras > a {
    position: relative;
    top: 300px;
    color: #636b6f;
    padding: 5vw;
    font-size: 4vw;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.grid-container {
    position: relative;
    max-width: 100%;
    bottom: 200px;
    display:grid;
    grid-template-columns: auto auto auto;
  }
.grid-item > .logout {
    position: relative;
    left: 113%;
}
  .grid-item{
    padding: 5vh 3vw;
    text-align: center;
  }

  .grid-item > a {
    color: #636b6f;
    padding: 3vh 3vw;
    font-size: 2vw;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    border: 3px solid grey;
  }


